<div>
    <h2>Overview</h2>
    <!-- <select [(ngModel)]="selectedMonth" (change)="onMonthChange()">
        <option *ngFor="let month of months" [value]="month">{{ month | date:'MMMM yyyy' }}</option>
    </select> -->

    <table>
        <thead>
            <tr>
                <th>Date</th>
                <th>Amount</th>
                <th>Category</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let transaction of transactions">
                <td>{{ transaction.createdAt| date:'yyyy-MM-dd' }}</td>
                <td>{{ transaction.cost| currency }}</td>
                <td>{{ transaction.currentCategory }}</td>
            </tr>
        </tbody>
    </table>

</div>