<section>
    <form>
        <div [innerHTML]="htmlstring">Login</div>
        <label for="email" >Email</label>
        <input type="text"  type="email" #email>
        <label for="password">Password</label>
        <input type="text" type="password" #password>
        <div>
            <button (click)="signIn(email.value,password.value)" type="button">Login</button>
            <button (click)="signUp(email.value,password.value)" type="button">Sign up</button>
            <button (click)="signOut()" type="button">Sign out</button>
        </div>
    </form>
</section>