:host {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
}

section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 10rem;
    padding: 2rem;
}

header {
    width: 100%;
    max-width: 40rem;
}

img {
    width: 100%;
    max-width: 6rem;
    margin-left: auto;
    margin-right: auto;
}

form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    max-width: 40rem;
    margin-left: auto;
    margin-right: auto;
}
.error {
    color: red;
    font-size: 0.8rem;
    margin-top: 0.5rem;
}
