
mat-card-title a {
  text-decoration: none;
  color: inherit;
}


.card-grid {
    padding: 1rem;
}

mat-grid-list {
    width: 100%;
}

.add-card-form {
    display: flex;
    justify-content: center;
    gap: 1rem;
    margin-bottom: 1rem;
}


mat-card {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
    color: whitesmoke;
}


.action-buttons {
    position: absolute;
    top: 8px;
    right: 8px;
    display: flex;
    gap: 8px;
    z-index: 1;
}

.card-navigation {
    cursor: pointer;
}


.full-width {
    width: 100%;
}
.full-card {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
    width: 100%;
}

mat-card-content {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
}
